@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
}

header h1 {
    padding-top: 1rem;
}

body {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

th,
td {
    white-space: nowrap;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 4rem;
    background-color: aliceblue;
    text-align: center;
    z-index: 5;
}

.sidebar a {
    color: white;
    display: block;
    padding: 1rem 0;
}

.sidebar a:hover {
    color: white;
    background-color: gray;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        max-width: 3rem;
    }
}

/* ===== Utilities ===== */
/* Responsive Grid Layout */
.grid-ish {
    display: flex;
    gap: 1rem;
}

.grid-ish>* {
    flex: 1 1 30em;
}

/* Force margin and padding 0 */
.force-zero {
    margin: 0 !important;
    padding: 0 !important;
}

.cs-pointer {
    cursor: pointer;
}

/* Skeleton Loaders */
.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.skeleton-text {
    height: 1rem;
    margin-bottom: 0.5rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.skeleton-input {
    height: 2rem;
    margin-bottom: 0.5rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.skeleton-rich-input {
    height: 4rem;
    margin-bottom: 0.5rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* Containers */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container button {
    background-color: #116530;
}

.main-content {
    margin-left: 4rem;
}

@media only screen and (max-width: 600px) {
    .main-content {
        margin-left: 3rem;
    }
}

.datatable-container {
    display: flex;
    flex-flow: row;
}

.datatable-container #form_add {
    padding: 1.5em;
    width: 100%;
    max-width: 25rem;
    min-width: 19rem;
    margin: 0 1em 0 0;
    height: max-content;
}

@media only screen and (max-width: 992px) {
    .datatable-container {
        display: flex;
        flex-flow: column;
    }

    .datatable-container #form_add {
        padding: 1em;
        margin: 0 0 1em 0;
    }
}

.search-container,
.with-button-container {
    display: flex;
    gap: 0.5rem;
}

.search-container form {
    width: fit-content;
}

.search-container form button,
.with-button-container button {
    white-space: nowrap;
}

/* Panels */
.box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    max-width: 25rem;
    width: 100%;
    margin: 0 1rem;
}

.box .login-content {
    padding: 2em;
    width: auto;
    display: flex;
    flex-direction: column;
}

.box .login-content * {
    margin: 0.5em 0;
}

.box .login-content a {
    text-align: center;
}

.grid-box {
    border: solid 1px #d2d2d2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
}

.grid-box .content {
    display: block;
}

/* Images */
#search_results img {
    max-width: 5rem;
}

/* scroll */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.header-container {
	display: none;
}
/* main */

.header-text i {
    display: none;
}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 5rem;
    background: #165853;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  	height: 70px;
}

.navi img {
    height: 50px;
}

.navi .fas,
.navi .fa {
    display: none;
}

.nav-item {
    position: relative;
}

.nav-item span {
    font-size: 1rem;
}

.nav-item-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.nav-item a:hover,
.nav-item a.active {
    color: #00754a;
}

.nav-item a.active::after,
.nav-item a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #00754a;
    position: absolute;
    bottom: -0.25rem;
    left: 1.25rem;
}

.navi .nav-item-con .nav-item button {
	display: none;
}

.best-title{
	display: flex;
  	justify-content:center;
  	align-items:center;
  	margin-top: 2rem;
  	margin-bottom: -1rem;
}

.menu-container .best-title h2 {
	color: #088178;
  	font-family: Spartan;
  	font-weight: 700;
  	text-align: center;
  	position: relative;
  	display: inline-block;
}

.menu-container .best-title h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 30px;
    bottom: -5;
    border-bottom: 4px solid #088178;
}

.best-seller-con {
  	margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
  	border-radius: 10px;
}

.best-seller-con .best-left {
	background-color: #8bbfb2;
  	width: 33%;
  	height: 15rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.best-seller-con .best-mid {
	background-color: #f15f60;
  	width: 34%;
  	height: 15rem;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	justify-items: center;
}

.best-seller-con .best-right {
	background-color: #f2b562;
  	width: 33%;
  	height: 15rem;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	justify-items: center;
}

.best-seller-con .best-img img{
    width: 9.25rem;
  	height: 8rem;
  	overflow: hidden;
  	border-radius: 50%;
  	border: 2px solid #ffffff;
}

.best-seller-con .best-img {
	text-align: center; 
}

.best-seller-con .best-img h4 {
    margin-top: 1rem;
  	color: #ffffff;
}

.carousel {
	display: none;
}

.prod-navi {
	width: 100%;
  	display: flex;
  	justify-content: space-around;
  	border-bottom: 1px solid #bbbbbb;
  	margin-bottom: 2rem;
}

.prod-navi a{
	float: left;
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-family: Spartan;
  	font-weight: 600;
  	font-size: .9em;
}
.prod-navi a.active,
.prod-navi a:hover {
  border-bottom: 3px solid #00754a;
  color: #00754a;
}

.prod-navi-img {
     display: none;
  }

.menu-container h1 {
    font-size: 3.125rem;
    line-height: 4rem;
    color: #222;
    font-family: 'Spartan', sans-serif;
}

.menu-container h2 {
    font-size: 2.875rem;
    line-height: 3.375rem;
    color: #222;
    font-family: 'Spartan', sans-serif;
}

.menu-container h4 {
    font-size: 1.50rem;
    color: #088178;
  	font-weight: 700;
    font-family: 'Spartan', sans-serif;
}

.menu-container h6 {
    font-weight: 700;
    font-size: 0.75rem;
    font-family: 'Spartan', sans-serif;
}

.menu-container p {
    font-size: 1rem;
    color: #465b52;
    margin: 0.938rem 0 1.25rem 0;
    font-family: 'Spartan', sans-serif;
}

.menu-container {
    background: #ffffff;
  	margin-top: 70px;
    padding: 0px 2rem;
    width: 100%;
  	display: flex;
  	justify-content: space-between;
  	padding-bottom: 2rem;
}

.margin-space {
	margin: 0 3rem 0 3rem;
}

.order-prod {
	width: 100%;
  	min-width: 870px;
  	padding-right: clamp(250px, 25%, 25%);
  	overflow-x: auto;
}

.product-container {
  	padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  	grid-gap: 20px;
    justify-content: flex-start;
  	justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow-x: auto;
}

.product {
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.938rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.2s ease;
}

.product-container .product:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.product-container .product img {
    width: 100%;
  	min-height: 180px;
    max-height: 180px;
  	object-fit: cover;
  	overflow: hidden;
    border-radius: 10px;
}

.product-container .product .product-text {
    text-align: start;
    padding: 0.625rem 0;
}

.product-container .product .product-text hr {
  		margin: 0.5rem 0;
  }

.product-container .product button {
      	border: 1px solid #a19a9a;
        border-radius: 50px;
      	font-weight: 700;
        padding: 2px;
        background-color: #088178;
        width: 100%;
        color: ffffff;
  }

input[type="checkbox"] {
  width: 15px;
  margin-right: .5rem;
}

label {
  font-size: 15px;
  color: #088178;
  font-family: spartan;
  font-weight: 700;
  font-family: 'Spartan', sans-serif;
  padding-right: 0.2rem;
}

.product-container .product .product-text span {
    margin-top: -1rem;
    color: #1e3932;
    font-size: 0.75rem;
}

.product-container .product .product-text h5 {
    padding-top: 0.438rem;
    color: #1e3932;
    font-size: 0.875rem;
}

.product-container .product .product-text h4 {
    font-size: 0.938rem;
    font-weight: 700;
    color: #088178;
}

.cart .orderModal {
    max-height: 60%;
    height: auto;
    overflow: auto;
    background-color: white;
}

.info-img {
    display: flex;
}

.order-img {
    width: 50%;
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    height: 100%;
}

.order-img img {
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    height: 100%;
}

.order-info {
    padding-left: 10px;
}

.del-type {
    display: flex;
    justify-content: space-between;
}

#delivery {
    width: 100px;
}

.quantity .count {
    width: 100px;
}

.ordr-quantity {
    display: flex;
    justify-content: space-between;
}

.ordr-quantity span {
    display: none;
}

.ordr-butn {
    width: 100%;
    border: none;
    color: #ffffff;
    background-color: #088178;
    border-radius: 5px;
    padding: 3px;
}

/* cart web */
.cart-cont {
  		position: fixed;
		right: 0;
        width: 25%;
  		min-width: 250px;
        margin-bottom: inherit;
        bottom: -1;
  		top: 70;
  		padding: 20px 10px 10px 10px;
  		background-color: #f6fff2;
  		display: flex;
  		flex-direction: column;
    }
    .summ-con {
    padding: 10px 20px 20px 20px;
    width: 100%;
    justify-content: space-around;
    margin: 0;
}


.sub-total-con {
    display: flex;
    justify-content: space-between;
}

.summ-con span {
    font-size: 1em;
    float: right;
    color: #ff5252;
    padding-top: 3px;
    float: right;
    color: #ff5252;
}

.summ-con h3 {
	font-size: 1.75rem;
    font-weight: 700;
    color: #3C6255;
}

.summ-con span:hover {
    color: #ff0000;
}


.sub-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-left {
    width: 45%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summ-con button {
    border: none;
    border-radius: 5px;
    padding: 2px;
    background-color: #088178;
    width: 100%;
    color: ffffff;
}

.sub-left button:hover {
    cursor: pointer;
}

.pad-bot {
  		position: relative;
        overflow-y: auto;
        padding: 0;
    }

    .cart-item {
        position: relative;
        width: 100%;
      	min-width: 320px;
        padding: 0.625rem 0.75rem;
        background-color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        height: 120px;
        margin: 0 0 10px 0;
    }

    .cart-item:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }

    .close-cart {
        position: absolute;
        top: 0;
        width: 95%;
        text-align: right;
        font-size: 1rem;
        padding: 5px;

    }

    .cart-item h5 {
        padding-top: 0.438rem;
        color: #1e3932;
        font-size: 1rem;
        font-weight: 700;
    }

    .cart-item span {
        color: #7c1717b8;
        font-size: 1rem;
        font-weight: 600;
    }

    .cart-img {
        width: 30%;
        min-width: 120px;
        max-width: 120px;
        height: 100%;
    }

    .cart-img img {
        width: 100%;
        min-width: 120px;
        height: 100%;
    }

    .cart-details {
        width: 70%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .price-quantity {
        display: flex;
        justify-content: space-between;
    }

    .quantity {
        background-color: #E8E9EB;
        width: min-content;
        display: flex;
        border-radius: 10px;
    }

    .quantity .count {
        color: #000;
        background-color: #E5F6DF;
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        padding: 0 2px;
        min-width: 25px;
        text-align: center;
        width: 30px;
    }

    .quantity .plus {
        cursor: pointer;
        color: white;
        width: 20px;
        height: 100%;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        border-radius: 0 10px 10px 0;
        background-color: #198754;
    }

    .quantity .minus {
        cursor: pointer;
        color: white;
        width: 20px;
        height: 100%;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        border-radius: 10px 0 0 10px;
        background-color: #3C6255;
    }

    .ordr-quantity span {
        display: unset;
    }

    #delivery {
        width: auto;
    }

    .minus:hover {
        background-color: #609966 !important;
    }

    .plus:hover {
        background-color: #1A4D2E !important;
    }

    span {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    input {
        border: 0;
        width: 2%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input:disabled {
        background-color: white;
    }

    .sub-right {
        width: 45%;
    }

    .sub-left {
        width: 45%;
        text-align: right;
    }

    .sub-left button {
        border: none;
        border-radius: 5px;
        padding: 2px;
        background-color: #088178;
        color: ffffff;
    }

    .sub-left button:hover {
        cursor: pointer;
    }

    .cart .orderModal {
        max-height: 60%;
    	height: auto;
    	overflow: auto;
    	background-color: white;
    }

    .info-img {
        display: flex;
    }

    .order-img {
        width: 50%;
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
        height: 100%;
    }

    .order-img img {
        width: 100%;
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
        height: 100%;
    }

    .order-info {
        padding-left: 10px;
    }

    .del-type {
        display: flex;
        justify-content: space-between;
    }

    .ordr-quantity {
        display: flex;
        justify-content: space-between;
    }

    .ordr-butn {
        width: 100%;
        border: none;
        color: #ffffff;
        background-color: #088178;
        border-radius: 5px;
        padding: 3px;

    }

/* main mobile */
@media only screen and (max-width: 500px) {
    body {
        margin: 0;
    }
    .menu-container {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 80px 0px;
        background: #ffffff;
        padding: 5px;
        overflow: auto;
      	background-color: #fcfcfc;
    }

    .menu-container h1 {
        font-size: 2em;
        color: #222;
    }

    .menu-container h4 {
        font-size: 1em;
        color: #222;
    }

    .menu-container h6 {
        font-size: 0.7em;
    }

    .menu-container p {
        font-size: 1rem;
        color: #465b52;
    }

    .menu-container h2 {
        font-size: 1.5em;
        line-height: 1em;
    }

    .menu-container h3 {
        font-size: 1.3em;
        font-family: 'Spartan', sans-serif;
    }


    .menu-container h2,
    h3 {
        color: #088178;
    }

    .menu-container p {
        font-size: 1rem;
        color: #465b52;
    }
  	
  .carousel .carousel-inner .carousel-item .best-mob-img .carousel-caption h5 {
  	font-size: 2rem;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;

  }

    .web-p {
        display: none;
    }
  
  	.prod-navi {
	width: 100%;
  	display: flex;
  	justify-content: space-around;
    overflow-x: auto;
    }

    .prod-navi a{
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 11px;
    }
    .prod-navi a.active,
    .prod-navi a:hover {
      border-bottom: none;
      color: #00754a;
    }
  	
  .prod-navi-img {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
  }
  
  .circle-bg {
  	width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:rgba(229,246,223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  
  	.prod-navi-img img{
  	 height: 40px;
     width: 40px;
     overflow: hidden;
  }
  
  	.best-title{
  	margin-top: 1rem;
}
  
  .best-mob {
  	width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .best-mob-img img{
  	width: 100%;
  	overflow: hidden;
    object-fit: cover;
  	border: 1px solid #8e8f8d;
    filter: brightness(0.5);
    border-radius: 8px;
  }
	
  .carousel {
	display: unset;
}
  
  	.order-prod {
      width: 100%;
      min-width: unset;
      padding-right: unset;
      overflow-x: unset;
	}
  	
  	.margin-space {
     	margin: 1rem 0 0 0;
      }

    .product-container {
        display: grid;
      	grid-template-columns: repeat(2, minmax(165px, 250px));
        grid-gap: 10px;
      	justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0 0 5px;
      	padding: 5px;
    }

    .product {
        position: relative;
        width: 100%;
        min-width: 165px;
        max-width: 250px;
        padding: 10px 12px;
        margin: 0;
        background-color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        transition: 0.2s ease;

    }
	.product-container .product img {
		width: 100%;
      	min-height: 150px;
      	max-height: 150px;
      	object-fit: cover;
		overflow: hidden;
		border-radius: 10px;
	}

    .product:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }


    .product-text {
        text-align: start;
        padding: 0.625rem 0;
    }

    .product-container .product .product-text span {
        color: #1e3932;
      	font-weight: 300;
        font-size: 11px;
    }

    .product-container .product .product-text h5 {
        padding-top: 0.438rem;
  		font-weight: 700;
        color: #1e3932;
        font-size: 13px;
    }
  
  .product-container .product .product-text hr {
  		margin: 0.5rem 0;
  }

    .product-container .product .product-text h4 {
        font-size: 15px;
        font-weight: 900;
        color: #088178;
      	padding-bottom: 3px;
    }

    .navi {
      	z-index: 98;
        display: flex;
        justify-content: space-between;
      	align-items: center;
        position: fixed;
        width: 100%;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        padding: 5px;
    }
    .navi .nav-item-con {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navi .nav-item-con .nav-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
  

    .navi .nav-item-con .nav-item:hover {
        cursor: pointer;
    }

    .navi .nav-item-con .nav-item span {
        color: #ffffff;
      	font-size: 1rem;
      	padding: .4rem;
      	border: 1px solid;
       	border-radius: 20%;
    }
  
  .navi .nav-item-con .nav-item button {
  		background: none;
    	border: none;
    	display: unset;
  }

    .navi .fas,
    .navi .fa {
        display: block;
    }

    .best-seller-con {
        display: none;
    }
  
   .menu-container .best-title h2 {
     	display: none;
  	}

    /* cart mobile */
    .cart-cont {
      	z-index: 99;
        width: 100%;
        margin-bottom: inherit;
        border: none;
      	display: none;
    }
    .pad-bot {
      	margin-bottom: 250px;
        padding: 0;
        border: none;
    }

    .cart-item {
        position: relative;
        width: 100%;
        padding: 0.625rem 0.75rem;
        background-color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        transition: 0.2s ease;
        display: flex;
        height: 120px;
        margin: 0 0 20px 0;
    }

    .cart-item:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
  	
    .close-cart {
        position: absolute;
        top: 0;
        width: 95%;
        text-align: right;
        font-size: 1rem;
        padding: 5px;

    }

    .cart-item h5 {
        padding-top: 0.438rem;
        color: #1e3932;
        font-size: 1rem;
        font-weight: 900;
    }

    .cart-item span {
        color: #949494;
        font-size: 1rem;
        font-weight: 600;
    }

    .cart-img {
        width: 30%;
        min-width: 120px;
        max-width: 120px;
        height: 100%;
    }

    .cart-img img {
        width: 100%;
        min-width: 120px;
        height: 100%;
    }

    .cart-details {
        width: 70%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .price-quantity {
        display: flex;
        justify-content: space-between;
    }

    .quantity {
        background-color: #E8E9EB;
        width: min-content;
        display: flex;
        border-radius: 10px;
    }

    .quantity .count {
        color: #000;
        background-color: #E8E9EB;
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        padding: 0 2px;
        min-width: 25px;
        text-align: center;
        width: 30px;
    }

    .quantity .plus {
        cursor: pointer;
        color: white;
        width: 20px;
        height: 100%;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        border-radius: 0 10px 10px 0;
        background-color: #BBBCB6;
    }

    .quantity .minus {
        cursor: pointer;
        color: white;
        width: 20px;
        height: 100%;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        border-radius: 10px 0 0 10px;
        background-color: #BBBCB6;
    }

    .ordr-quantity span {
        display: unset;
    }

    #delivery {
        width: auto;
    }

    .minus:hover {
        background-color: #717fe0 !important;
    }

    .plus:hover {
        background-color: #717fe0 !important;
    }

    span {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    input {
        border: 0;
        width: 2%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input:disabled {
        background-color: white;
    }

    .summ-con {
      	z-index: 99;
        position: fixed;
        right: 0;
      	left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        transition: 0.2s ease;
        justify-content: space-around;
    }

    .sub-right {
        width: 45%;
    }

    .sub-left {
        width: 45%;
        text-align: right;
    }
  	
  	.sub-total-con {
  	  background-color: #ffffff;
      width: 100%;
	}

    .sub-left button {
        border: none;
        border-radius: 5px;
        padding: 2px;
        background-color: #088178;
        color: ffffff;
    }

    .sub-left button:hover {
        cursor: pointer;
    }

    .cart .modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .cart .orderModal {
        position: fixed;
        max-height: 55%;
        height: auto;
        overflow: auto;
        width: 100%;
        background-color: white;
        bottom: 0;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .info-img {
        display: flex;
    }

    .order-img {
        width: 50%;
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
        height: 100%;
    }

    .order-img img {
        width: 100%;
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
        height: 100%;
    }

    .order-info {
        padding-left: 10px;
    }

    .del-type {
        display: flex;
        justify-content: space-between;
    }

    .ordr-quantity {
        display: flex;
        justify-content: space-between;
    }

    .ordr-butn {
        width: 100%;
        border: none;
        color: #ffffff;
        background-color: #088178;
        border-radius: 5px;
        padding: 3px;

    }
}